h1 {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #1d2c5f;
}
.center {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P";
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #1d2c5f;
  text-align: center;
}
.baloon {
  height: 200px;
  width: 300px;
  margin-left: 700px;
  margin-bottom: -50px;
}

p {
  color: #1d2c5f;
  margin-left: 737px;
  margin-top: -79px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
}
