h1 {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #1d2c5f;
}
.center {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P";
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #1d2c5f;
  text-align: center;
}
