h1 {
  background-color: #1d2c5f;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  color: white;
}
a {
  background-color: #1d2c5f;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  color: white;
  justify-content: center;
  text-align: center;
  position: fixed;
  object-position: center;
}
