#game-pitch {
  width: 90vw;
  height: 80vh;
  border: 10px solid rgb(251, 248, 248);
  margin: auto;
  position: relative;
  background-image: url("./stadium.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Monserrat", sans-serif;
  color: aliceblue;
}
h2 {
  text-align: center;
  font-family: "Monserrat", sans-serif;
  color: rgb(255, 242, 240);
}
.player {
  background-image: url("./playerReady.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.defenders {
  background-image: url("./defenderReady.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

.balls {
  background-image: url("./ballReady.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: silver;
}
