#game-pitch {
  width: 1000px;
  height: 610px;
  border: 10px solid rgb(247, 9, 9);
  margin: auto;
  position: relative;
  background-image: url("./download.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
}
h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
}
.player {
  background-image: url("./playerReady.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.defenders {
  background-image: url("./defenderReady.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

/* .balls {
  width: 100px;
  height: 100px;
  background-image: url("./ballReady.png");
  background-size: 100px 100px;
} */

body {
  background-color: silver;
}
